<div class="container">
  <h1>Add Customer</h1>
  <div>
    <app-input-bar (setCustomerList)="setCustomerList($event)"></app-input-bar>
  </div>
  <button (click)="showCustomerList = !showCustomerList">{{showCustomerList ? "Hide customer list" : "Show customer list"}}</button>
  <div>
    <app-list-customer *ngIf="showCustomerList else elseTemplate" [customerList]="customerList" (deleteCustomer)="deleteCustomer($event)"></app-list-customer>
    <ng-template #elseTemplate>
        <p style="text-align: center;">No Teamplate</p>
    </ng-template>
  </div>
</div>