.container {
    padding: 4px;
    background-color: rgb(178, 133, 223);

    .counter-bar-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;

        button {
            padding: 4px;
            margin: 0px 2px 0px 2px;
            border: none;
            border-radius: 2px;
        }

        input {
            padding: 2px;
            text-align: center;
            border: none;
            outline-width: 0px;
            border-radius: 2px;
        }

    }
}